@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/static/Montserrat-Medium.ttf") format("truetype")
  }

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}
